<ion-header>
    <ion-toolbar color="warning">
        <ion-title>Ara</ion-title>
    </ion-toolbar>
    <ion-toolbar color="light">
        <ion-searchbar placeholder="Film Ara" [(ngModel)]="searchTitle"></ion-searchbar>
        <ion-buttons slot="end">
            <ion-button color="dark" (click)="this.isLabelVisible = false" (click)="searchMovie()">
                <ion-icon name="search-sharp"></ion-icon>
                <ion-label> Ara</ion-label>
            </ion-button>

        </ion-buttons>

    </ion-toolbar>
</ion-header>
<ion-item color="light">
    <ion-avatar slot="start">
        <img src="../../assets/icon/logo.jpg" class="img_avatar">

    </ion-avatar>
    <ion-label>Filmler</ion-label>
</ion-item>

<ion-content>
    <div class="img_box">
        <img [src]="movieData.imageUrl">
    </div>

    <h1>{{movieData.title}}</h1>
    <p>{{movieData.Director}}</p>
    <p>{{movieData.Actors}}</p>
    <p>{{movieData.imdbRating}}</p>
    <p>{{movieData.description}}</p>



    <ion-col size="10" offset="1">
        <ion-label *ngIf="this.isLabelVisible">
            *Arama Yaptığınızda Filmler Burada Görünür.</ion-label>
    </ion-col>


</ion-content>